<h1><%= "#{@person.first_name} #{@person.last_name}" %></h1>
<h1><%= "#{@person.birthdate.strftime("%d %b %Y")}" %></h1>
<p><%= "Your birth path number is: #{@birth_number}" %></p>
<p><%= "#{@message}" %></p>
