<!DOCTYPE html>
<html>
	<head>
		<title>Dan's Numerology App for Skillcrush 204</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/people.css" />
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h1>Numerology Calculator <small>A Skillcrush Project</small></h1>
			</div>
			<hr />
			<%= yield %>
		</div>
	</body>
</html>
